@media screen and (max-width: 1023px) {
  .svg__desktop {
    display: none;
  }
  .main__wrapper {
    overflow: hidden;
    background: #fff;
  }
  .custom__floating__spinner {
    top: 188vw;
    left: 50%;
    transform: translateX(-50%);
  }
  /* section 1  */
  .section-1 {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 11.4vw;
    width: 100%;
    padding-block: 30.93vw 23vw;
    padding-inline: 5.6vw;
  }
  .section-1__content {
    position: relative;
    z-index: 1;
  }
  .section-1__content h2,
  .section-1__content h3 {
    color: #0f0e05;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Poppins;
    font-size: 9.33vw;
    font-style: normal;
    font-weight: 700;
    line-height: 103%;
  }
  .section-1__content h4 {
    margin-block: 2.94vw;
    color: #0f0e05;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Poppins;
    font-size: 3.47vw;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
  }
  .section-1__highlight {
    display: inline-flex;
    background: #000;
    color: #fff;
    width: fit-content;
    border-radius: 26.7vw;
    padding-inline: 1.9vw;
    padding-block: 0.5vw;
  }
  .section-1__content p {
    margin-bottom: 5.6vw;
    color: #0f0e05;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Poppins;
    font-size: 2.7vw;
    font-style: normal;
    font-weight: 300;
    line-height: 130%;
  }
  .section-1__star {
    display: none;
  }
  .section-1__content a {
    display: flex;
    align-items: center;
    column-gap: 3.2vw;
    border-radius: 24vw;
    border: 0.53vw solid #000;
    padding: 1.07vw;
    padding-right: 5.07vw;
    color: #000;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Poppins;
    font-size: 4vw;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    width: fit-content;
  }
  .section-1 a::after {
    content: attr(data-text-mobile);
  }
  .section-1__content a span {
    display: grid;
    place-content: center;
    width: 11.47vw;
    height: 11.47vw;
    background: #000;
    border-radius: 100%;
  }
  .section-1__content a span img {
    width: 5.87vw;
    height: 100%;
  }
  .section-1__image {
    width: 100%;
    height: 83.74vw;
    border-radius: 8vw;
    overflow: hidden;
    background-color: black;
  }
  .section-1__image video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* mix-blend-mode: luminosity; */
    filter: grayscale(100%);
    user-select: none;
  }
  .section-1__ellipse--1 {
    position: absolute;
    top: -18vw;
    right: 0;
    z-index: 0;
    width: 58.4vw;
    height: 58.4vw;
    background: rgba(198, 0, 91, 0.7);
    filter: blur(33.32vw);
    border-radius: 100%;
  }
  .section-1__ellipse--2 {
    display: none;
  }
  /* section 2  */
  .section-2 {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    row-gap: 7.73vw;
    padding-inline: 5.6vw;
    padding-bottom: 18.4vw;
  }
  .section-2__image {
    position: relative;
    z-index: 1;
    width: 100%;
  }
  .section-2__image .section-2__image__img--top {
    display: none;
  }
  .section-2__image .section-2__image__img--bottom {
    width: 100%;
    height: 75.2vw;
    border-radius: 8vw;
    overflow: hidden;
    background-color: black;
  }
  .section-2__image .section-2__image__img--bottom video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* mix-blend-mode: luminosity; */
    filter: grayscale(100%);
    user-select: none;
  }
  .section-2__content {
    position: relative;
    z-index: 1;
    width: 84.54vw;
  }
  .section-2__content h2 {
    margin-bottom: 4.8vw;
    color: #000;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Poppins;
    font-size: 9.6vw;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
  }
  .section-2__content h2 .section-2__rect--desktop {
    display: none;
  }
  .section-2__content h2 .section-2__rect--mobile {
    position: relative;
    display: inline-flex;
    width: 9.87vw;
    height: 1cap;
  }
  .section-2__content h2 .section-2__rect--mobile::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 0.5vw;
    background: black;
  }
  .section-2__content p:nth-of-type(1) {
    margin-bottom: 4.5vw;
    color: #2e81d1;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Poppins;
    font-size: 3.2vw;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
  }
  .section-2__content h3 {
    margin-bottom: 4.8vw;
    color: #000;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Poppins;
    font-size: 3.2vw;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
  }
  .section-2__content p:nth-of-type(2) {
    margin-bottom: 8.5vw;
    color: #0f0e05;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Poppins;
    font-size: 2.7vw;
    font-style: normal;
    font-weight: 300;
    line-height: 130%;
  }
  .section-2__content a {
    display: flex;
    align-items: center;
    column-gap: 5.3vw;
    border-radius: 24vw;
    border: 0.53vw solid #000;
    padding: 1.07vw;
    padding-right: 9.3vw;
    color: #000;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Poppins;
    font-size: 4vw;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    width: fit-content;
  }
  .section-2__content a span {
    display: grid;
    place-content: center;
    width: 11.47vw;
    height: 11.47vw;
    background: #000;
    border-radius: 100%;
  }
  .section-2__content a img {
    width: 5.87vw;
    height: 100%;
  }
  .section-2__ellipse--1 {
    position: absolute;
    top: 48.5vw;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    width: 58.4vw;
    height: 58.4vw;
    background: rgba(22, 216, 225, 0.3);
    filter: blur(33.02vw);
  }
  /* section 3  */
  .slider-1 {
    display: none;
  }
  .slider-1__mobile {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 9.8vw;
    padding-inline: 5.07vw;
    padding-bottom: 16vw;
    width: 100%;
  }
  .slider-1__mobile h2 {
    position: relative;
    z-index: 1;
    width: 74.53vw;
    text-align: center;
    color: #000;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Poppins;
    font-size: 9.6vw;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
  }
  .slider-1__mobile h2 span {
    background: #000;
    color: #fff;
    text-wrap: nowrap;
    border-radius: 26.66vw;
    padding-inline: 4.2vw;
    padding-block: 1.6vw;
    display: inline-block;
  }
  .swiper-mobile-1 {
    position: relative;
    z-index: 1;
    width: 100%;
  }
  .swiper-mobile-1 .swiper-wrapper .swiper-slide {
    display: flex;
    flex-direction: column;
    height: 113.87vw;
    padding-inline: 11.2vw;
    padding-block: 8vw;
    background-image: url("../assets/images/gradient-mobile-1-purple.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    backdrop-filter: blur(2.4vw);
    border-radius: 3.33vw;
  }
  .slider-1__card__plan {
    width: fit-content;
    margin-bottom: 5.8vw;
    align-self: flex-end;
    margin-right: -4.5vw;
    padding: 1.6vw 2.7vw;
    border-radius: 38.3vw;
    border: 0.33vw solid #7963a4;
    color: #7963a4;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Poppins;
    font-size: 4.3vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }
  .swiper.swiper-mobile-1 .swiper-wrapper .swiper-slide h4 {
    color: #757575;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Poppins;
    font-size: 4.15vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .swiper-slide div:nth-child(3) {
    display: flex;
    align-items: center;
    column-gap: 2.4vw;
  }
  .slider-1__card__price {
    color: #000;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Poppins;
    font-size: 14.61vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1vw;
    text-transform: uppercase;
  }
  .slider-1__card__period {
    color: #000;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Poppins;
    font-size: 3.4vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .slider-1__card__divider {
    width: 100%;
    height: 0.17vw;
    margin-block: 2.4vw 7.5vw;
    background-color: rgba(0, 0, 0, 0.25);
  }
  .slider-1__card__benefits {
    display: flex;
    flex-direction: column;
    row-gap: 3.2vw;
  }
  .swiper-mobile-1 .swiper-wrapper .swiper-slide p {
    color: #000;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Poppins;
    font-size: 2.7vw;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
  }
  .swiper-mobile-1 .swiper-wrapper .swiper-slide a {
    margin-top: auto;
    margin-inline: auto;
    display: flex;
    align-items: center;
    column-gap: 6.7vw;
    width: fit-content;
    padding: 1vw;
    padding-right: 12.7vw;
    border-radius: 26vw;
    border: 0.59vw solid #7963a4;
    color: #7963a4;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Poppins;
    font-size: 4.4vw;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
  }
  .swiper-mobile-1 .swiper-wrapper .swiper-slide a span {
    display: grid;
    place-content: center;
    width: 12.5vw;
    height: 12.5vw;
    background-color: #7963a4;
    border-radius: 100%;
  }
  .swiper-mobile-1 .swiper-wrapper .swiper-slide a span img {
    width: 6.4vw;
  }
  .swiper-mobile-1 .swiper-mobile-1-pagination {
    display: flex;
    justify-content: center;
    column-gap: 0.9vw;
    margin-top: 6.13vw;
    width: 100%;
    height: 2.7vw;
  }
  .swiper-mobile-1 .swiper-mobile-1-pagination-bullet {
    width: 5.3vw;
    height: 100%;
    border-radius: 100px;
    background: #d9d9d9;
  }
  .swiper-mobile-1-pagination-bullet-active {
    width: 10.3vw !important;
    background: #000 !important;
  }
  .slider-1__mobile__ellipse {
    position: absolute;
    top: 42.13vw;
    left: 50%;
    transform: translateX(-50%);
    width: 58.4vw;
    height: 58.4vw;
    z-index: 0;
    background: rgba(121, 99, 164, 0.24);
    filter: blur(33.33vw);
  }
  /* section 4  */
  .section-4 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 7.2vw;
    padding-block: 0 18vw;
    padding-inline: 4.2vw;
  }
  .section-4__heading {
    display: flex;
    flex-direction: column;
    row-gap: 1.8vw;
  }
  .section-4__heading__left {
    display: flex;
    flex-direction: column;
    row-gap: 1.8vw;
  }
  .section-4__heading__left h2 {
    width: 100%;
    color: #000;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Poppins;
    font-size: 8vw;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
  }
  .section-4__heading__left span {
    display: none;
  }
  .section-4__heading__right p {
    width: 84.3vw;
    color: #000;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Poppins;
    font-size: 2.7vw;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
  }
  .section-4__heading__right p span {
    color: #c6005b;
  }
  .section-4__content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    row-gap: 8.53vw;
    width: 100%;
  }
  .section-4__content h5 {
    color: #c6005b;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Poppins;
    font-size: 3.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    margin-bottom: -4vw;
  }
  .section-4__card.section-4__card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 4vw;
    width: 100%;
    width: 90vw;
    height: 41.5vw;
    backdrop-filter: blur(2.4vw);
    border-radius: 5.33vw;
  }
  .section-4 .section-4__content .section-4__card.section-4__card svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* box-shadow: 4px 6px 12px #dedddd, -6px -6px 12px #ffffff; */
    border-radius: 1.04vw;
  }
  .section-4__card.section-4__card h4 {
    width: 60.4vw;
    color: #c6005b;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Poppins;
    font-size: 4.27vw;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
  }
  .section-4__card.section-4__card p {
    width: 61vw;
    color: #757575;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Poppins;
    font-size: 2.67vw;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
  }
  .section-4__circles {
    position: absolute;
    top: 130vw;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    width: 108vw;
    height: 43vw;
  }
  .section-4__ellipse--1 {
    position: absolute;
    top: 125vw;
    left: 50%;
    width: 161vw;
    height: 122vw;
    transform: translate(-50%, 0%);
    z-index: 0;
    opacity: 0.35;
    background: rgba(198, 0, 91, 0.2);
    filter: blur(66.66vw);
    border-radius: 100%;
  }
  /* section 5  */
  .section-5 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15vw;
    padding-inline: 1.33vw;
    /* padding-block: 23vw 10vw;


    */
    /* background: lightcoral; */
    padding-block: 23vw 110vw;
  }
  .section-5__heading {
    position: relative;
    z-index: 1;
  }
  .section-5__heading h2 {
    width: 73.54vw;
    color: #040404;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Poppins;
    font-size: 12.26vw;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
  }
  .section-5__heading h2 span {
    display: inline-flex;
    vertical-align: middle;
    width: 9.6vw;
    height: 1cap;
    break-before: right;
    margin-left: 12.8vw;
  }
  .section-5__heading h2 img {
    width: 100%;
    height: 100%;
  }
  .section-5__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 1.6vw;
    position: absolute;
    margin-top: -100vw;
    z-index: 2;
  }
  .section-5__card.section-5__card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 46.94vw;
    height: 46.94vw;
    padding-inline: 5.87vw;
    backdrop-filter: blur(2.4vw);
  }
  .section-5__card.section-5__card svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* box-shadow: 4px 6px 12px #dedddd, -6px -6px 12px #ffffff; */
    border-radius: 1.04vw;
  }
  .section-5__card.section-5__card span {
    color: #57c600;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Poppins;
    font-size: 9.6vw;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }
  .section-5__card.section-5__card h3 {
    color: #57c600;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Poppins;
    font-size: 4.27vw;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }
  .section-5__card.section-5__card p {
    color: #757575;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Poppins;
    font-size: 2.7vw;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
  }
  .section-5__card.section-5__card--2 {
    margin-top: 10vw;
  }
  .section-5__card.section-5__card--3 {
    margin-top: -8vw;
  }
  .section-5__card.section-5__card--4 {
    margin-top: 2vw;
  }
}
